.myskills-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    font-family: 'Roboto Mono', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 20px; 
}

.left-align {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-item {
    margin-right: 10px; 
}

.logo-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.techlabel {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .ending-msg {
        font-size: 0.8rem;
        width: 100% !important;
    }

    .logo-item img {
        height: 50px !important;
        width: 50px !important;
    }
}

@media (max-width: 480px) {
    .myskills-title {
        font-size: 1.5rem;
    }

    .proglang, .fwlib, .databases, .tools {
        font-size: 1.2rem;  
    }

    .techlabel {
        font-size: 0.7rem;
    }

    .logo-item img {
        height: 40px !important;
        width: 40px !important;  
    }
}
