.myskills-section {
    height: 100vh;
    font-family: 'Roboto Mono', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 20px; 
}

.skills-nav {
    background-color: #333; 
    padding: 20px; /* Spacing */
    border-radius: 8px; /* Rounded corners */
    color: white; /* Text color */
}

.nav-list {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
}

.nav-item {
    cursor: pointer; /* Show pointer on hover */
    padding: 10px; /* Spacing for each item */
    transition: background-color 0.3s; /* Smooth background change */
}

.nav-item:hover {
    background-color: #555; /* Darker background on hover */
}

.text-center h5 {
    margin-top: 20px;
}
