.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'Roboto Mono', Arial, sans-serif;
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 20px; 
}

.project-title {
    margin-bottom: 50px;
}

.card-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.card {
    background-color: rgb(78, 119, 159);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(58, 168, 247, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 20px;
}

.card-title, .card-text {
    color: white;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.card-link {
    color: #00aaff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .card-div {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .card-div {
        gap: 15px;
    }

    .card {
        width: 90%;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.95rem;
    }
}